* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/mysite/polyfill/box-sizing/boxsizing.htc); }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

body {
  color: #333;
  font-size: 62.5%;
  font-family: Verdana, Lucida, sans-serif; }

html {
  background: #E5DFE1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

.clear {
  clear: both; }
