@import "compass";

// easily create a linear gradient without worrying about different prefixes of IE fallback
// NOTE: the IE fallback also applies to modern IE, so make sure you set "filter: none !important;" on IE > 8
// @example: @include simple-gradient(#000, #FFF); // normal gradient
// @example: @include simple-gradient(#000, #FFF, horizontal); // horizontal gradient
// @example: @include simple-gradient(#000, #FFF, vertical, false); // no SVG fallback for IE9
@mixin simple-gradient($start-color, $end-color, $orientation: vertical, $svg-fallback: true) {
	background-color: $start-color;
	@include filter-gradient($start-color, $end-color, $orientation);
	$orientation: if($orientation == vertical, top, left);
	$experimental-support-for-svg: $svg-fallback;
	@include background-image(linear-gradient(top, $start-color 0%, $end-color 100%));
	@include background-clip(padding-box);
}

// creates an RGBa background, and uses filter as fall back for old IE
// @example: @include rgba-background(#000, 0.5);
@mixin rgba-background($color, $opacity) {
	$rgba: rgba($color, $opacity);
	$IEcolor: ie_hex_str($rgba);
	@include filter-gradient($rgba, $rgba, "vertical");
	background: $rgba;
}

// set a given image as background with background-size: cover; including IE filter fallback
// @uses image-url()
// @example: @include background-image-scaled('bg.jpg');
@mixin background-image-scaled($image) {
	background: image-url($image) no-repeat center center;
	@include background-size(cover);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'image-url($image, true)', sizingMethod = 'scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image-url($image, true)', sizingMethod='scale')";
}

// make it easy to include a font via font-face
// @example:
//    // requires this files to exist:
//    // fonts/folder/myFontFile.ttf
//    // fonts/folder/myFontFile.eot
//    // fonts/folder/myFontFile.woff
//    // fonts/folder/myFontFile.otf
//    // fonts/folder/myFontFile.svg
//    @include custom-font('myFontName', 'folder/myFontFile');
// @example:
//    // requires this files to exist:
//    // fonts/folder/myFontFile.ttf
//    // fonts/folder/myFontFile.eot
//    // fonts/folder/myFontFile.woff
//    // fonts/folder/myFontFile.otf
//    // fonts/folder/myFontFile.svg
//    // fonts/folder/myFontFile-light.ttf
//    // fonts/folder/myFontFile-light.eot
//    // fonts/folder/myFontFile-light.woff
//    // fonts/folder/myFontFile-light.otf
//    // fonts/folder/myFontFile-light.svg
//    // fonts/folder/myFontFile-bold.ttf
//    // fonts/folder/myFontFile-bold.eot
//    // fonts/folder/myFontFile-bold.woff
//    // fonts/folder/myFontFile-bold.otf
//    // fonts/folder/myFontFile-bold.svg
//    @include custom-font('myFontName', 'folder/myFontFile', ('', 'light', 'bold'));
@mixin custom-font($name, $fileName: false, $weightList: false) {
	@if ($fileName == false) {
		$fileName: $name;
	}
	@if ($weightList == false) {
		$weightList: '';
	}
	@each $weight in $weightList {
		@font-face {
			$file: $fileName;
			@if $weight != '' {
				$file: "#{$fileName}-#{$weight}";
				font-weight: unquote($weight);
			}
			$eot: "#{$file}.eot";
			$ie: unquote("#{$eot}?iefix");
			font-family: quote($name);
			src: font-url($eot);
			src: font-url($ie) unquote("format('eot')"), font-files("#{$file}.ttf", truetype, "#{$file}.woff", woff, "#{$file}.otf", opentype, "#{$file}.svg", svg);
		}
	}
}